<%= form_for [@project, @ticket], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
  <%= label_tag :tags, Ticket.human_attribute_name('tags') %><br />
  <%= text_field_tag :tags %>
  </p>
  <% number = @assets_count ||0 %>
  <div id="files">
  <%= f.fields_for :assets do |asset| %>
    <% unless asset.object.new_record? %>
      <p>
        <%= asset.label :_destroy, 'Remove File?: ' %>
        <%= asset.check_box :_destroy %>
        <%= asset.hidden_field :id %>
        <%= asset.object.asset_file_name %>
        (<small><%= number_to_human_size(asset.object.asset.size) %></small>)
        - (ID: <%= asset.object.id %>)
      </p>
    <% else %>
      <%= render :partial => "assets/new_asset", :locals => { :number => number=number+1 } %>
    <% end %>
  <% end %>
  </div>
  <p id="new_asset_link">
    <%= link_to t("assets.add_another_file_msg"), new_asset_path(:number => number+1), :remote => true,  :id =>"add_new_asset" %>
  </p>
  <%= f.submit %>
<% end %>
