<% title("#{State.model_name.human}") %>
<h2><%= "#{State.model_name.human}" %></h2>

<%= link_to t("admin_state.new_title"), new_admin_state_path %>

<ul id='states'>
<% for state in @states %>
  <li id='state_<%= state.id %>'>
    <%= state.name %>&nbsp;&nbsp;<%= render "states/state", :state => state %>&nbsp;&nbsp;
    <%= link_to t("admin_state.make_default_txt"), make_default_admin_state_path(state) %>
  </li>
<% end %>
</ul>
