<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <link rel="icon" href="/images/favicon.ico" type="image/png" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "reset", "text", "960", "application" %>
  <style>
    <% for state in @states %>
      .state-<%= state.name.parameterize %> {
        background: <%= state.background %>;
        color: <%= state.color %>;
      }
    <% end %>
  </style>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
  <section class="locale_header container_12">
    <nav class="grid_2 prefix_10 clearfix">
      <p>
      <% for k, v in AVAILABLE_LOCALES %>
        <% if (I18n.locale.to_s == k) %>
          <span><%= AVAILABLE_LOCALES[I18n.locale.to_s] %></span>
        <% else %>
          <span><%= link_to "#{v}", url_for( {:controller => self.controller_name, :action => self.action_name, :locale => "#{k}"} ) %></span>
        <% end %>
      <% end %>
      </p>
    </nav>
  </section>

  <section class="container container_16">
    <header class="grid_16 clearfix">
      <p>Header</p>
    </header>
    <section class="main_content grid_16 clearfix">
      <h1><%= link_to "Ticketee", root_path %></h1>
      <nav class="auth_nav">
        <% if !user_signed_in? %>
          <%= link_to t("authenticate.signup_title"), new_user_registration_path %> |
          <%= link_to t("authenticate.signin_title"), new_user_session_path %>
        <% else %>
          <%= t("authenticate.signin_as",  :logged_in_user => current_user.email) %> |
          <%= link_to t("authenticate.signout_title"), destroy_user_session_path %>
          <%= admins_only do %>
            | <%= link_to t("admin_base.title"), admin_root_path %>
          <% end %>
        <% end %>
      </nav>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </section>
    <footer class="grid_16 clearfix">
      <p>Footer</p>
    </footer>
  </section>

  <section class="sub_footer">
    <p>Sub-footer</p> 
  </section>

  <%= yield(:tail) %>
</body>
</html>
